.search-input {
  height: 40px;
  border-radius: 3px;
  border: 0;
  padding: 4px;
  width: 80%;
}

input:hover {
  border: 1.5px #dab4c9 solid;
}
@media (min-width: 1281px) {
  .search-input {
    width: 60%;
  }
}
