* {
  box-sizing: border-box;
}
.NewAteItemFormHeader {
  font-size: 55px;
  padding-top: 55px;
  text-align: center;
  font-family: "Happy Monkey", sans-serif;
}
.FormContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 0 1% 0 1%;
}
.input {
  height: 40px;
  border-radius: 3px;
  border: 1px #414649 solid;
  margin-top: 30px;
  padding: 4px;
  width: 70vw;
  background: #dce7f8;
}

.input:focus {
  opacity: 0.8;
}
